<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0TGoK574uSuMSCVHeynzO2ugSN_Xr4IY</string>
	<key>GCM_SENDER_ID</key>
	<string>450098830825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymWorkout</string>
	<key>PROJECT_ID</key>
	<string>gymworkout-7b702</string>
	<key>STORAGE_BUCKET</key>
	<string>gymworkout-7b702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450098830825:ios:4d0a2267d4a25bffde7f78</string>
</dict>
</plist>